html,body{
    height: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  .title{
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .image{
      width: 50%;
      margin-left: 24%;
      margin-top: 2%;
  }
  .foot{
      height: 100px;
      position:absolute;
        bottom:0;
        width:100%;
      background-color: black;
  }
  .input_place1{
    width: 50%;
    margin-left: 2%;
  }
  .input_place2{
     height: 300px;
     width: 50%;
     margin-top: 1%;
     margin-left: 2%;
     justify-content: right;
  }
  .second_title{
      margin-left: 2%;
  }
  .container1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 2%;
      
  }
  .submit_btn{
      width: 50%;
      margin-left: 2%;
      margin-top: 1%;
  }
  .parag{
      font-size: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-left: 2%;
  }
  .copyrights{
      text-align: center;
      color: white;
      margin-top: 2%;
  }